## DATA3960 - Capstone Project - Group 3

### Impact of Property Features on Property Pricing

# Common Columns Across Both Datasets

## Property Details
- **Prop Class**: The classification of the property (e.g., SF for Single Family, VLOT for Vacant Lot).
- **Area/City**: The city or area where the property is located.
- **Community**: The neighborhood or community name.
- **Status**: Indicates the property status (e.g., Active (A) or Sold (S)).
- **List Price**: The listing price of the property.
- **Postal Code**: The postal code where the property is located.
- **Sold Date**: The date the property was sold (null for active listings).
- **Sold Price**: The final price for which the property was sold.
- **Listing ID #**: A unique identifier for the property listing.
- **DOM (Days on Market)**: The number of days the property has been listed.
- **FlrArea SF**: The floor area of the property in square feet.
- **TotFlrArea**: Total floor area, likely including all levels.
- **Rooms AG**: Number of above-ground rooms.
- **Bedrms AG**: Number of above-ground bedrooms.
- **Beds**: Total number of bedrooms.
- **Full Baths**: Number of full bathrooms.
- **Half Baths**: Number of half bathrooms.
- **Baths**: Total number of bathrooms.
- **Ensuite**: Whether the property has an ensuite bathroom.
- **Yr Built**: The year the property was built.
- **Style**: Architectural style (e.g., bungalow, two-story).
- **Front Exp**: Front exposure direction of the property.
- **FrontageM**: Property frontage in meters.
- **FP Y/N**: Whether the property has a fireplace (Y/N).
- **Encl Park**: Enclosed parking availability.
- **PARKING**: Details about parking (e.g., garage type, number of spaces).
- **Condo Name**: Name of the condo (if applicable).
- **Construction Type**: The type of construction (e.g., wood frame, concrete).
- **FLOORING**: Types of flooring in the property (e.g., hardwood, carpet, etc.).
- **List Pr / SqFt**: Listing price per square foot.
- **# Finished Levels**: Number of finished levels in the property.
- **Cumulative DOM**: Cumulative days on market across all listings.
- **Bsmt Dev**: Basement development status (e.g., finished, unfinished).
- **Garage Y/N**: Indicates if the property has a garage.
- **Price**: Price attribute (could be a duplicate of "List Price" or "Sold Price").
- **Lot Sq Metres**: Lot size in square meters.
- **Carpet, Hardwood, Linoleum, Tile, Laminate, Vinyl Plank**: Flooring material details for the property (Y/N).
- **GEOCODE**: Geospatial identifier, possibly latitude/longitude.

## Columns Specific to Active Dataset
- **ACTIVE MONTH END**: The month-end date for when the property was still listed.
- **ActiveMonth**: The formatted version of the active month.
- **List Date**: The date the property was first listed.

## Columns Specific to Sold Dataset
- **Cumulative DOMLS**: Cumulative Days on Market in the local MLS (Multiple Listing Service).
- **Days On MLS**: Days on MLS for the current listing.

## How to Use These Columns

### Key Columns for Joins
- **GEOCODE**, **Community**, **Postal Code**, or **Area/City** can be used to join with external datasets such as crime statistics or neighborhood demographics.

### Columns for Predictive Modeling
- Features like **FlrArea SF**, **TotFlrArea**, **Beds**, **Baths**, **Yr Built**, **Style**, and **FLOORING** are strong predictors for price.

### Columns for Exploratory Analysis
- **DOM**, **Cumulative DOM**, and **List Pr / SqFt** are useful for understanding market behavior and pricing trends.

### Enriching with External Data
- Use **GEOCODE** or **Postal Code** to integrate crime rates, school proximity, or demographic data.

In [15]:
import pandas as pd
import numpy as np

# Load the datasets

active_data = pd.read_csv('/Users/glennbarnes/inputData/ActiveData_RealEstate_Edmonton_3960.csv', encoding='ISO-8859-1')
sold_data = pd.read_csv('/Users/glennbarnes/inputData/SoldData_RealEstate_Edmonton_3960.csv', encoding='ISO-8859-1')

# Display first few rows of the dataset
active_data.head()

/var/folders/j5/l4n1h3z533nbg7ks96r5chn80000gn/T/ipykernel_15944/1622288258.py:6: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  active_data = pd.read_csv('/Users/glennbarnes/inputData/ActiveData_RealEstate_Edmonton_3960.csv', encoding='ISO-8859-1')

,Prop Class,Area/City,Community,Status,List Price,Postal Code,Sold Date,Sold Price,Listing ID #,DOM,...,Carpet,Hardwood,Linoleum,Tile,Laminate,Vinyl Plank,GEOCODE,ACTIVE MONTH END,ActiveMonth,List Date
0,VLOT,Abee,Abee,A,40000,T0A 0A0,NaN,0,E4099928,1062,...,N,N,N,N,N,N,NaN,31-Jan-21,2021-01-31,2018-03-06
1,VLOT,Abee,Abee,A,40000,T0A 0A0,NaN,0,E4099928,1091,...,N,N,N,N,N,N,NaN,28-Feb-21,2021-02-28,2018-03-05
2,VLOT,Abee,Abee,A,39900,T0A 0A0,NaN,0,E4243467,114,...,N,N,N,N,N,N,NaN,31-Aug-21,2021-08-31,2021-05-09
3,VLOT,Abee,Abee,A,39900,T0A 0A0,NaN,0,E4243467,52,...,N,N,N,N,N,N,NaN,30-Jun-21,2021-06-30,2021-05-09
4,VLOT,Abee,Abee,A,39900,T0A 0A0,NaN,0,E4243467,83,...,N,N,N,N,N,N,NaN,31-Jul-21,2021-07-31,2021-05-09

In [16]:
sold_data.head()

,Prop Class,Area/City,Community,Status,List Price,Postal Code,Sold Date,Sold Price,Listing ID #,DOM,...,Garage Y/N,Price,Lot Sq Metres,Carpet,Hardwood,Linoleum,Tile,Laminate,Vinyl Plank,GEOCODE
0,VLOT,Abee,Abee,S,30000,T0A 0A0,2016-08-31,21000,E3403984,552,...,NaN,21000,8874.0,N,N,N,N,N,N,NaN
1,SF,Abee,Abee,S,74900,T0A 0A0,2023-07-27,67000,E4349931,17,...,Yes,67000,0.0,Y,Y,N,N,N,N,NaN
2,SF,Abee,Abee,S,150000,T0A 0A0,2024-11-15,137000,E4410726,29,...,Yes,137000,0.0,Y,N,Y,Y,N,N,NaN
3,SF,Acme,NaN,S,99900,T0M 0A0,2003-06-17,90000,E2310257,49,...,No,90000,0.0,Y,N,Y,N,N,N,2.0
4,SF,Acme,NaN,S,209900,T0M 0A0,2009-04-22,203000,E3177447,46,...,No,203000,0.0,N,N,N,Y,Y,N,2.0

In [13]:
# Check for missing values and data types
missing_values_active = active_data.isnull().sum()
missing_values_sold = sold_data.isnull().sum()

data_types_active = active_data.dtypes
data_types_sold = sold_data.dtypes

# Concatenating them horizontally
side_by_side = pd.concat(
    [missing_values_active, data_types_active, missing_values_sold, data_types_sold], 
    axis=1
)
side_by_side

                        0        1         2        3
Prop Class              0   object       0.0   object
Area/City               0   object       0.0   object
Community            7525   object   17615.0   object
Status                  0   object       0.0   object
List Price              0    int64       0.0    int64
Postal Code             2   object   26841.0   object
Sold Date          626812   object       0.0   object
Sold Price              0    int64       0.0    int64
Listing ID #            0   object       0.0   object
DOM                     0    int64       0.0    int64
FlrArea SF              0  float64       0.0  float64
TotFlrArea              0  float64       0.0  float64
Rooms AG                0    int64       0.0    int64
Bedrms AG               0    int64       0.0    int64
Beds                    0    int64       0.0    int64
Full Baths              0    int64       0.0    int64
Half Baths              0    int64       0.0    int64
Baths                   0  float64       0.0  float64
Ensuite                 0   object       0.0   object
Yr Built                0    int64       0.0    int64
Style               36352   object   14211.0   object
Front Exp           25601   object   17331.0   object
FrontageM               0  float64       0.0  float64
FP Y/N                  0   object       0.0   object
Encl Park               0    int64       0.0    int64
PARKING             35321   object   17213.0   object
Condo Name         429529   object  357583.0   object
Construction Type   36699   object   12527.0   object
FLOORING            36314   object    6720.0   object
List Pr / SqFt          0  float64       0.0  float64
# Finished Levels       0    int64       0.0    int64
Cumulative DOM          0    int64       0.0    int64
Cumulative DOMLS        0    int64       0.0    int64
Days On MLS             0    int64       0.0    int64
Bsmt Dev            36851   object   30002.0   object
Garage Y/N          34712   object    3944.0   object
Price                   0    int64       0.0    int64
Lot Sq Metres           0  float64       0.0  float64
Carpet                  0   object       0.0   object
Hardwood                0   object       0.0   object
Linoleum                0   object       0.0   object
Tile                    0   object       0.0   object
Laminate                0   object       0.0   object
Vinyl Plank             0   object       0.0   object
GEOCODE             30550  float64    9600.0  float64
ACTIVE MONTH END        0   object       NaN      NaN
ActiveMonth             0   object       NaN      NaN
List Date          194854   object       NaN      NaN

In [19]:
missing_percent_active= (missing_values_active / len(active_data)) * 100
print(pd.DataFrame({'Missing Values': missing_values_active, 'Percentage': missing_percent_active}))

                   Missing Values  Percentage
Prop Class                      0    0.000000
Area/City                       0    0.000000
Community                    7525    1.199549
Status                          0    0.000000
List Price                      0    0.000000
Postal Code                     2    0.000319
Sold Date                  626812   99.919180
Sold Price                      0    0.000000
Listing ID #                    0    0.000000
DOM                             0    0.000000
FlrArea SF                      0    0.000000
TotFlrArea                      0    0.000000
Rooms AG                        0    0.000000
Bedrms AG                       0    0.000000
Beds                            0    0.000000
Full Baths                      0    0.000000
Half Baths                      0    0.000000
Baths                           0    0.000000
Ensuite                         0    0.000000
Yr Built                        0    0.000000
Style                       36352    5.794819
Front Exp                   25601    4.081018
FrontageM                       0    0.000000
FP Y/N                          0    0.000000
Encl Park                       0    0.000000
PARKING                     35321    5.630469
Condo Name                 429529   68.470587
Construction Type           36699    5.850134
FLOORING                    36314    5.788761
List Pr / SqFt                  0    0.000000
# Finished Levels               0    0.000000
Cumulative DOM                  0    0.000000
Cumulative DOMLS                0    0.000000
Days On MLS                     0    0.000000
Bsmt Dev                    36851    5.874364
Garage Y/N                  34712    5.533389
Price                           0    0.000000
Lot Sq Metres                   0    0.000000
Carpet                          0    0.000000
Hardwood                        0    0.000000
Linoleum                        0    0.000000
Tile                            0    0.000000
Laminate                        0    0.000000
Vinyl Plank                     0    0.000000
GEOCODE                     30550    4.869931
ACTIVE MONTH END                0    0.000000
ActiveMonth                     0    0.000000
List Date                  194854   31.061390

In [20]:
missing_percent_sold = (missing_values_sold / len(sold_data)) * 100
print(pd.DataFrame({'Missing Values': missing_values_sold, 'Percentage': missing_percent_sold}))

                   Missing Values  Percentage
Prop Class                      0    0.000000
Area/City                       0    0.000000
Community                   17615    3.616672
Status                          0    0.000000
List Price                      0    0.000000
Postal Code                 26841    5.510933
Sold Date                       0    0.000000
Sold Price                      0    0.000000
Listing ID #                    0    0.000000
DOM                             0    0.000000
FlrArea SF                      0    0.000000
TotFlrArea                      0    0.000000
Rooms AG                        0    0.000000
Bedrms AG                       0    0.000000
Beds                            0    0.000000
Full Baths                      0    0.000000
Half Baths                      0    0.000000
Baths                           0    0.000000
Ensuite                         0    0.000000
Yr Built                        0    0.000000
Style                       14211    2.917770
Front Exp                   17331    3.558362
FrontageM                       0    0.000000
FP Y/N                          0    0.000000
Encl Park                       0    0.000000
PARKING                     17213    3.534134
Condo Name                 357583   73.418130
Construction Type           12527    2.572015
FLOORING                     6720    1.379735
List Pr / SqFt                  0    0.000000
# Finished Levels               0    0.000000
Cumulative DOM                  0    0.000000
Cumulative DOMLS                0    0.000000
Days On MLS                     0    0.000000
Bsmt Dev                    30002    6.159943
Garage Y/N                   3944    0.809773
Price                           0    0.000000
Lot Sq Metres                   0    0.000000
Carpet                          0    0.000000
Hardwood                        0    0.000000
Linoleum                        0    0.000000
Tile                            0    0.000000
Laminate                        0    0.000000
Vinyl Plank                     0    0.000000
GEOCODE                      9600    1.971050

In [14]:
active_data.shape, sold_data.shape

((627319, 48), (487050, 45))